html,
*{
--background: #000000;
--dark: #ab1677;
--light: #f9d9f5;
--spacing-unit: 8px;
--hover: #8d0b32;
background-color: var(--background);
margin: 0;
}

.section {
    position: relative; /* Allows absolute positioning relative to this container */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0; /* Reset margins for all children within the section */
    padding: 0; /* Reset padding for all children within the section */
}

.background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Preserve aspect ratio while covering the entire section */
    position: relative;
    object-position: left 0  top 15%;
    top: 0;
    left: 0;
    z-index: 1; /* Behind the text-overlay */
}


.title, .quote {
    position: absolute;
    background-color: transparent; /* Ensure there's no background */
    padding: 0; /* Ensure there's no padding */
    margin: 0; /* Ensure there's no margin */
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);

}

.quote {
    
    position: absolute ;
    top: 1%; /* Adjust the value to position the quote from the top of the page */
    /* left: 50%;  */
    z-index: 6; /* High z-index to ensure it's above other content */
    padding: 0; /* Optional: padding around the text */
    /* text-align: center;  */
    font-size: 2.1rem;
}
.title {
    /* position: absolute;  */
    font-size: 6rem;
    max-width: 700px;
    top: 40%; /* Adjust the value to position the quote from the top of the page */
    /* left: 50%;  */
}


.social-media-bar {
    position: absolute;
    background: var(--background); 
    right: 0;
    width: 40px;
    height: 100%;
    z-index: 2; /* Ensures the social bar stays on top */
    display: flex;
    flex-direction: column;
  }
  

.social-media-bar img {
    
   width: 25px; 
    height: 25px;  
    display: block;
    margin: 20px 0; /* Adjust the margin as needed for spacing */
    z-index: 2; 
  }

  
body {
    background-color: var(--background);
    margin: 0;
    font-family: "Allison", cursive;
    color: var(--light);
    font-size: 2rem;  
   
  }


header{
color: var(--background);
}

.nav-bar {
position: absolute;
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
bottom: 0%;
flex-direction: row;
left: 0;
width: 100%;
height: 50px;
background: var(--light); /* This is the pink color from your variables */
z-index: 10;
}

.nav-bar li {
    margin: 125px; /* Adjust space between navigation items */
    background: transparent; /* No background color */
    font-size: 2.3rem;
    z-index: 10;z-index: 10;
}

.nav-bar a {
    color: var(--background); /* Black text color */
    text-decoration: none; /* No underline */
    padding: 0; /* Adjust padding to your preference */
    /* border-radius: 10px; Rounded corners for the links */
    display: flex; /* Use flex to center text in the 'a' element */
    align-items: center; /* Vertical centering inside the 'a' element */
    justify-content: center; /* Horizontal centering inside the 'a' element */
    background-color: transparent;
}

.nav-bar a:visited {
    background: transparent; /* No background color *
    color: var(--background); /* Keeps the link color black even after being clicked */
}

/* Styling for active state */
.nav-bar a:active {
    background: transparent; /* No background color *
    background-color: rgba(0, 0, 0, 0.2); /* Slightly darker effect for an active link */
    color: var(--background); /* Maintain the text color */
}


/* Styling for hover state */
.nav-bar a:hover {
    background: transparent; 
    color: var(--hover); /* Maintain the text color */
}
  
* {
box-sizing: border-box; 
}


.section-title {
    position: absolute;
    top: 2%; /* Adjust based on your header/nav bar height */
    margin-bottom: 20px; /* Space between title and grid */
}

/* 
.music-slider {
    position: relative;
  } */

.slide-btn {
    position: absolute;
    bottom: 20%; 
    /* transform: translateY(-50%); */
    border: none;
    background: none;
    cursor: pointer; 
    z-index: 15; /* Make sure this is above other elements */
  }

.slide-btn img{
    height: 40px;
    width: auto;
}
  
  #prev {
    left: 38% ; /* Adjust the position as needed */
  }
  
  #next {
    right: 38% ; /* Adjust the position as needed */
  }
  


.music-list {
    list-style-type: none;
    padding: 2rem;
    display: flex;
    text-align: center; 
    flex-direction: row;
    justify-content: center;
    transition: transform 0.5s ease;
}


.music-item {
    position: relative; /* Needed to position the play button absolutely within the figure */
    display: flex; /* Use flexbox to center children */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
}

.music-item img {

    width: 235px;
    height: 235px;
    right: 50%;
    left: auto;
    display: block;
     z-index: 7;
    transition: transform 0.5s; 
}

.play-link {
    position: absolute; /* Position it absolutely within the figure */
    bottom: -18%; /* Position it 50% from the top */
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%); /* Offset the element by half of its own width and height to center it */
    display: none; /* Hide by default and show it only for the center item */
    z-index: 3; /* Ensure it's above the image */
}
 /* Style for the play icon image */
 .play-icon {
    width: 25px !important;
    height: 25px !important;
  }

.music-item.center {
    transform: scale(1.2);
    z-index: 2; /* Above other slides */
    opacity: 1; /* Fully visible */
}
.music-item.side {
    /* Styles for side slides */
    transform: translateX(-100%); /* or 100%, depending on your layout */
  }

.music-item.left, .music-item.right {
    transform: scale(0.8);
    opacity: 0.5;
}

.music-item.hidden {
    display: none; 
}

/* Play button and title visibility */
.music-item .play-link,
.music-item figcaption {
    display: none; 
}

.music-item.center .play-link,
.music-item.center figcaption {
    display: block; 
}

figcaption {
    text-align: center;
}


#footer.social {
    text-align: center; /* This will center the inline-block elements */
    position: relative; /* Positioning the footer at the bottom */
    background: var(--background);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 0; /* Add padding to the top and bottom of the footer */
}

.social a:visited {
    color: transparent; /* or set a specific color */
    text-decoration: none; /* Removes underline */
    outline: none; /* Removes the outline */
}

/* Individual social icons */
.social-icon {
    width: 30px; 
    height: 30px;  
    margin: 0 10px; /* Horizontal spacing between icons */
    vertical-align: middle; /* Align the icons vertically if they have different heights */
    display: inline-block; /* This allows for the use of text-align on the parent to center */
}

#bio p{
    font-family: "Caveat", cursive;
    padding-top: calc(1*var(--spacing-unit));
    font-size: 1rem;
    margin-left: auto; /*similarly to the tile we adjust the margin*/
    margin-right: auto;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .title, .quote {
        font-size: 2rem; /* Smaller font size for smaller screens */
    }
    
    .nav-bar li {
        margin: 25px; /* Less space between navigation items */
    }
    
    .social-media-bar img, .social-icon {
        width: 20px; 
        height: 20px;
    }


    .slide-btn img{
        height: 3vw !important; /* Adjust the size based on the viewport width */
        width: 3vw !important;
    }

    .slide-btn{
        bottom: 30%; 
    }
    .play-icon {
        height: 2vw !important; /* Adjust the size based on the viewport width */
        width: 2vw !important;
    }
    .music-item img {
        width: 150px;
        height: 150px;
    }
    .video-container {
        max-width: 600px; /* Slightly smaller max width */
    }
     #videos video {
        max-width: 600px; /* Full width on small screens */
    }
    
    .background-image {
        /* height: 50vh; Reduce the height on medium screens */
        object-position: center center;
        object-fit: cover; 
    }
    
    body{
        font-size: 4vw;
    }

    #prev {
        left: 35% ; /* Adjust the position as needed */
      }
      
    #next {
        right: 35% ; /* Adjust the position as needed */
    }
    

    /* Adjust padding, margins, and any other properties that need to change */
}

/* Small screens (phones) */
@media (max-width: 480px) {
    .quote {
        font-size: 1.5rem; /* Even smaller font size for phones */
    }
    .title {
        font-size: 5rem; /* Even smaller font size for phones */
    }
    
    body{
        font-size: 6vw;
    }

    .nav-bar li {
        margin: 10px; /* Even less space between navigation items */
    }
    
    .social-media-bar {
        width: 30px; /* Smaller social bar for phones */
    }

    .background-image {
        /* height: 100vh; */
        object-position: center center; 
        object-fit: cover; 
    }
    .slide-btn img{
        height: 5vw !important; /* Larger percentage to maintain a usable size on small screens */
        width: 5vw !important;
    }

    .slide-btn{
        bottom: 35%; 
    }
    
    .play-icon {
        height: 3vw !important; /* Adjust the size based on the viewport width */
        width: 3vw !important;
    }

    .music-item img {
        width: 100px;
        height: 100px;
    }

    .slide-btn img {
        height: 35px;
        width: 35px;
    }

    #videos video {
        max-width:100%; /* Adjust max-width for medium screens */
    }

    #prev {
        left: 35% ; /* Adjust the position as needed */
      }
      
    #next {
        right: 35% ; /* Adjust the position as needed */
    }
    

}


